<div class="container home-container">
  <h5>Bear And Cryptography</h5>
  <form class="form-container" ng-submit="homeCtrl.getResult()">
    <div class="form-group input-container">
      <input type="number" class="form-control cstm-input" required ng-model="homeCtrl.input.num1" placeholder="Number">
    </div>
    <div class="form-group input-container">
      <input type="number" class="form-control cstm-input" required ng-model="homeCtrl.input.num2" placeholder="Divisor Count">
    </div>
    <button type="submit" class="btn btn-default cstm-btn">Get Divisor</button>
  </form>
</div>
