<div class="container home-container">
  <h5>Add Two Numbers</h5>
  <form class="form-container" ng-submit="homeCtrl.getResult()">
    <div class="form-group input-container">
      <input type="number" class="form-control cstm-input" required ng-model="homeCtrl.input.num1" placeholder="First Number">
    </div>
    <div class="form-group input-container">
      <input type="number" class="form-control cstm-input" required ng-model="homeCtrl.input.num2" placeholder="Second Number">
    </div>
    <button type="submit" class="btn btn-default cstm-btn">Get Sum</button>
  </form>
</div>
